/* Pull in common stylesheet */
@import url("common.css");

/*About Section*/
.about-section {
    margin-top: 40px;
    margin-bottom: 40px;
}

.about-wrapper {
    padding: 20px 30px 30px 30px;
    border-radius: 12px;
    color: var(--color-text-default-primary);
}

.about-heading h1,
.about-heading h2 {
    color: var(--color-brand-primary);
    font-size: 1.8rem;
    padding-bottom: 1.5rem;
}

.about-heading h3 {
    color: var(--color-brand-primary);
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
}

.about-body + .about-heading {
    margin-top: 2.5rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .about-heading h1,
    .about-heading h2 {
        font-size: 1.5rem;
    }
}
